/**
 * Admin theme styles
 */

/* Key Figures */
.ocha-key-figures__list .form-checkboxes {
  --rwkf-num-cols: 1;
  --rwkf-gap-size: 1rem;

  display: flex;
  flex-flow: row wrap;
  gap: var(--rwkf-gap-size);
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .ocha-key-figures__list .form-checkboxes {
    --rwkf-num-cols: 2;
  }
}
.ocha-key-figures__list .form-checkboxes > div {
  display: block;
  margin: 0;
  padding: 0;
  flex: 0 1 calc((100% / var(--rwkf-num-cols)) - (var(--rwkf-gap-size) * (var(--rwkf-num-cols) - 1)));
  border: 2px solid #0003;
}
.ocha-key-figures__figure__label {
  font-weight: 700;
  font-size: 1.25em;
}

/**
 * Key Figures paragraph configuration
 *
 * Shows a simple list of figures until it is 10 items long, then displays the
 * options in 3 columns.
 */
.ocha-key-figures__list .form-checkboxes > div:has(:nth-child(10)) {
  column-gap: 2rem;
}

@media only screen and (min-width: 600px) {
  .ocha-key-figures__list .form-checkboxes > div:has(:nth-child(10)) {
    columns: 2 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .ocha-key-figures__list .form-checkboxes > div:has(:nth-child(10)) {
    columns: 3 auto;
  }
}

@media only screen and (min-width: 1600px) {
  .ocha-key-figures__list .form-checkboxes > div:has(:nth-child(10)) {
    columns: 4 auto;
  }
}

@media only screen and (min-width: 2000px) {
  .ocha-key-figures__list .form-checkboxes > div:has(:nth-child(10)) {
    columns: 5 auto;
  }
}

.ocha-key-figures__list .form-checkboxes > div {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ocha-key-figures__list .form-checkboxes > div {
  break-inside: avoid;
  margin: 0;
  padding: 0.25rem;
  cursor: move;
}

.ocha-key-figures__list .form-checkboxes > div:hover {
  background: #0001;
  transition: background .1666s ease-in;
}

.ocha-key-figures__list .form-checkboxes .form-type--boolean .form-boolean {
  position: relative;
  top: 0;
  float: left;
  margin: .3rem;
  transform: none;
}
